{% extends "../layout/adminLTE2.html" %}
{% load static compress %}


{% block content %}
<section class="content">
      <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Product Form</h3>
                </div>
                <form role="form" method="POST">
                    <!-- /.box-header -->
                    <div class="box-body">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{form.category.label}}</label>
                                    {{form.category}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{form.brand.label}}</label>
                                    {{form.brand}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{form.method.label}}</label>
                                    {{form.method}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{form.display_name.label}}</label>
                                    {{form.display_name}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{form.short_name.label}}</label>
                                    {{form.short_name}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{form.sku.label}}</label>
                                    {{form.sku}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{form.capital.label}}</label>
                                    {{form.capital}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{form.base_price.label}}</label>
                                    {{form.base_price}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Jumlah Barcode</label> <span style="font-weight:200"><i>*diisi hanya saat print</i></span><br>
                                    <input type="decimal" id="print-qty" value="5" style="height:34px;border:1px solid #ccc;box-shadow:0">
                                    <button class="btn btn-info pull-right" type="button" onclick="print_barcode(true)">Print Kanan</button>
                                    <button class="btn btn-info pull-right" type="button" onclick="print_barcode(false)" style="margin-right:10px">Print Kiri</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{form.description.label}}</label>
                                    {{form.description}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{form.is_available.label}}</label>
                                    {{form.is_available}}
                                </div>
                            </div>
                        </div>

                        
                    <div class="box-footer">

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box --> 
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}


{% block css %}
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="{% static 'backend/bootstrap/css/bootstrap.min.css' %}">
<!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{% static 'backend/plugins/datepicker/datepicker3.css' %}">
    <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="{% static 'backend/plugins/timepicker/bootstrap-timepicker.min.css' %}">
  <link rel="stylesheet" href="{% static 'backend/bootstrap/css/bootstrap.min.css' %}">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'backend/plugins/select2/select2.min.css' %}">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'backend/dist/css/AdminLTE.min.css' %}">
<!-- AdminLTE Skins. Choose a skin from the css/skins
   folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="{% static 'backend/dist/css/skins/_all-skins.min.css' %}">
{% endblock %}

{% block js %}
<!-- jQuery 2.2.3 -->
<script src="{% static 'backend/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'backend/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'backend/dist/js/app.min.js' %}"></script>
<!-- CK Editor -->
<!-- <script src="https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script> -->

<script src="{% static 'backend/dist/js/ckeditor/ckeditor.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'backend/plugins/select2/select2.full.min.js' %}"></script>
<!-- bootstrap datepicker -->
<script src="{% static 'backend/plugins/datepicker/bootstrap-datepicker.js' %}"></script>
<!-- bootstrap time picker -->
<script src="{% static 'backend/plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
<!-- InputMask -->
<script src="{% static 'backend/plugins/input-mask/jquery.inputmask.js' %}"></script>
<script src="{% static 'backend/plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
<script src="{% static 'backend/plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
               
<script>
    var simplemde = new SimpleMDE({ 
        element: document.getElementById("{{form.description.auto_id}}")
        })
    
    $(".select2").select2();
</script>


<script type="text/javascript">
    // Script to automatically fill slug form with the same value from name form
        $( "#id_display_name" ).keyup(function() {
            $("#id_short_name").val(convertToSlug($("#id_display_name").val()))
        });

        $( "#id_capital" ).keyup(function() {
            $("#id_base_price").val( parseInt($( "#id_capital" ).val()) + parseInt($( "#id_capital" ).val()*0.2))
        });
    
        function convertToSlug(Text)
        {
            return Text
                .toLowerCase()
                .replace(/[^\w ]+/g,'')
                .replace(/ +/g,'-')
                ;
        }

        function print_barcode(is_right){
            par = {
                'is_right' : is_right,
                'qty' : $("#print-qty").val(),
                'id62' : "{{id62}}"
            }
            $.get("{% url 'core:product-ajax' %}", par, function(data){
                if (data.success) {
                    alert("Printing")
                }else{
                    alert(data.error_message)
                }
            })
        }
    </script>

{% endblock %}

{% block js-top %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

{% endblock %}
