<li class="treeview">
    <a href="#"><i class="fa fa-home "></i><span>Dashboard</span></a>
</li>
<li class="treeview">
    <a href="{% url 'core:role' %}"><i class="fa fa-user "></i><span>Role</span></a>
</li>
<li class="treeview">
    <a href="{% url 'core:profile' %}"><i class="fa fa-users"></i><span>Profile</span></a>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-user-secret"></i><span>Investor</span></a>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-flag"></i><span>Brand</span></a>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-shopping-cart"></i><span>Product</span></a>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-archive"></i><span>Stock</span></a>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-percent"></i><span>Discount</span></a>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-dollar"></i><span>Sale</span></a>
</li>