{% extends "../layout/adminLTE2.html" %}
{% load staticfiles %}

{% block content_title %}
User Management
{% endblock %}

{% block breadcumb %}
  <!-- <li><a href="http://{{ request.get_host }}/blackend/edit_profile"><i class="fa fa-list"></i> Edit Profile</a></li>   -->
{% endblock %}

{% block content %}
<!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-8">     
      <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Profile</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
             <input type="hidden" name="id" value="{{ request.user.id }}">
              <div class="box-body">

                <!-- First Name form -->
                {% if error_messages.first_name|length_is:'0' %}
                <div class="form-group">
                {% else %}
                <div class="form-group has-error">
                {% endif %}
                  <label for="first_name">First Name</label>
                  <input type="text" name="first-name" class="form-control" id="first_name" placeholder="First Name" value="{{ first_name }}" onkeyup="nameToSlug()">
                  {% for e in error_messages.first_name %}
                  <span class="help-block">{{e}}</span>
                  {% endfor %}
                </div>

                <!-- Last Name form -->
                {% if error_messages.last_name|length_is:'0' %}
                <div class="form-group">
                {% else %}
                <div class="form-group has-error">
                {% endif %}
                  <label for="last_name">Last Name</label>
                  <input type="text" name="last-name" class="form-control" id="last_name" placeholder="Last Name" value="{{ last_name }}" onkeyup="nameToSlug()">
                  {% for e in error_messages.last_name %}
                  <span class="help-block">{{e}}</span>
                  {% endfor %}
                </div>

                <!-- Bio form -->
                <div class="form-group">
                  <label for="bio">Bio</label>
                  {% if detail %}
                  <textarea name="bio" class="form-control" id="bio" placeholder="bio" style="width:475px;height:150px;">{{ userprofile.bio }}</textarea>
                  {% else %}
                  <textarea name="bio" class="form-control" id="bio" placeholder="bio" value="{{ userprofile.bio }}" style="width:475px;height:150px;"></textarea>
                  {% endif %}
                </div>

                <!-- Links form -->
                <div class="form-group">
                  <label for="links">Links</label>
                  <input type="text" name="links" class="form-control" id="links" placeholder="Links" value="{{ userprofile.links }}">
                </div>

                <!-- Upload Image -->
                {% if error_messages.avatar|length_is:'0' %}
                <div class="form-group">
                {% else %}
                <div class="form-group has-error">
                {% endif %}
                  <label for="avatar">Avatar</label>
                  <input type="file" name="avatar" class="form-control" id="avatar" placeholder="Avatar" value="{{ userprofile.avatar }}">
                  {% for e in error_messages.avatar %}
                  <span class="help-block">{{e}}</span>
                  {% endfor %}
                </div>

                <!-- Upload Image -->
                <div class="form-group">
                  <label for="cover">Cover</label>
                  <input type="file" name="cover" class="form-control" id="cover" placeholder="cover" value="{{ userprofile.cover }}">
                </div>

                <!-- Location form -->
                <div class="form-group">
                  <label for="location">Location</label>
                  <input type="text" name="location" class="form-control" id="location" placeholder="Location" value="{{ userprofile.location }}">
                </div>
              
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.box -->


      </div>
    </div>
    <!-- This part is used to display user's avatar and cover images -->
    <div class="col-md-4">   
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Avatar</h3>
          </div>  
            <div class="box-body">
            <div class="box box-widget"  style="max-height: 175px; overflow:hidden; position: relative;">
              <img class="img-responsive" src="http://{{ request.get_host }}{% static 'media/' %}{{userprofile.avatar}}">
            </div>
            </div>
        </div>
      </div>
      <div class="col-md-4">   
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Cover</h3>
          </div>  
            <div class="box-body">
            <div class="box box-widget"  style="max-height: 175px; overflow:hidden; position: relative;">
              <img class="img-responsive" src="http://{{ request.get_host }}{% static 'media/' %}{{userprofile.cover}}">
            </div>
            </div>
        </div>
      </div>
  </section>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'backend/bootstrap/css/bootstrap.min.css' %}">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'backend/plugins/datatables/dataTables.bootstrap.css' %}">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'backend/dist/css/AdminLTE.min.css' %}">
<!-- AdminLTE Skins. Choose a skin from the css/skins
   folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="{% static 'backend/dist/css/skins/_all-skins.min.css' %}">
{% endblock %}

{% block js %}
<!-- jQuery 2.2.3 -->
<script src="{% static 'backend/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'backend/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'backend/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'backend/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<!-- SlimScroll -->
<script src="{% static 'backend/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'backend/plugins/fastclick/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'backend/dist/js/app.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'backend/dist/js/demo.js' %}"></script>
<!-- page script -->
<script>
// Script to serve datatable
  $(function () {
    $('#datatable').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>

<script type="text/javascript">
// Script for browse and upload media
    function newlist() {
      var w = 1024;
      var h = 600;
      var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
      var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

      var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
      var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

      var left = ((width / 2) - (w / 2)) + dualScreenLeft;
      var top = ((height / 2) - (h / 2)) + dualScreenTop;
      var listwindow = window.open("http://{{ request.get_host }}/blackend/freelance_register", "newwindow", "scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left'")

      if (window.focus) {
            listwindow.focus();
        }
    }

// Script for browse and upload media
    function selectFeaturedMed(){
        var w = 1024;
        var h = 600;
        var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
        var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

        var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
        var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

        var left = ((width / 2) - (w / 2)) + dualScreenLeft;
        var top = ((height / 2) - (h / 2)) + dualScreenTop;

        var url = window.location.href
        var arr = url.split("/");
        var url = arr[0] + "//" + arr[2]+'/blackend/media_management/browse?selector=form_selector';

        var featuredMedWindow = window.open(url, "Media Select", 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
        if (window.focus) {
            featuredMedWindow.focus();
        }

    }
</script>
{% endblock %}