{% extends "../layout/adminLTE2.html" %}

{% block content %}
    <!-- Main content -->
    <section class="content">
      <!-- row -->
      <div class="row">


        <div class="col-md-6">

          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title col-sm-12" >Post Rank <small>(This Week)</small></h3>
            </div>
            <div class="box-body">
              <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic2" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic2" data-slide-to="2" class=""></li>
                  <li data-target="#carousel-example-generic2" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 center-block">
                      <div class="box box-widget widget-user-2">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-yellow">
                          <div class="row">
                            <div class="col-xs-3">
                            <i class="fa fa-fire fa-4x" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-9 center-block">
                              <h2>Hottest</h2>
                            </div>
                          </div>
                        </div>
                        <div class="box-footer no-padding">
                          <ul class="nav nav-stacked">
                            {% for v in hot2 %}
                            <li><a href="#">{{v.title}} <span class="pull-right badge bg-yellow">{{v.get_hot_calculated}}</span></a></li>
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="widget-user-header bg-yellow">
                          <div class="row">
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 center-block">
                      <div class="box box-widget widget-user-2">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-green">
                          <div class="row">
                            <div class="col-xs-3">
                            <i class="fa fa-eye fa-4x" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-9 center-block">
                              <h2>Most Viewed</h2>
                            </div>
                          </div>
                        </div>
                        <div class="box-footer no-padding">
                          <ul class="nav nav-stacked">
                            {% for v in view2 %}
                            <li><a href="#">{{v.title}} <span class="pull-right badge bg-green">{{v.view_count}}</span></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="widget-user-header bg-green">
                          <div class="row">
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 center-block">
                      <div class="box box-widget widget-user-2">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-blue">
                          <div class="row">
                            <div class="col-xs-3">
                            <i class="fa fa-share fa-4x" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-9 center-block">
                              <h2>Most Shared</h2>
                            </div>
                          </div>
                        </div>
                        <div class="box-footer no-padding">
                          <ul class="nav nav-stacked">
                            {% for v in share2 %}
                            <li><a href="#">{{v.title}} <span class="pull-right badge bg-blue">{{v.share_count}}</span></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="widget-user-header bg-blue">
                          <div class="row">
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="item">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 center-block">
                      <div class="box box-widget widget-user-2">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-purple">
                          <div class="row">
                            <div class="col-xs-3">
                            <i class="fa fa-share fa-4x" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-9 center-block">
                              <h2>Most Commented</h2>
                            </div>
                          </div>
                        </div>
                        <div class="box-footer no-padding">
                          <ul class="nav nav-stacked">
                            {% for v in comment2 %}
                            <li><a href="#">{{v.title}} <span class="pull-right badge bg-purple">{{v.comment_count}}</span></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="widget-user-header bg-purple">
                          <div class="row">
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic2" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic2" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                </a>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
        </div>
        <!-- /.col -->

        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title col-sm-12" >Post Rank <small>(All Time)</small></h3>
            </div>
            <div class="box-body">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 center-block">
                      <div class="box box-widget widget-user-2">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-yellow">
                          <div class="row">
                            <div class="col-xs-3">
                            <i class="fa fa-fire fa-4x" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-9 center-block">
                              <h2>Hottest</h2>
                            </div>
                          </div>
                        </div>
                        <div class="box-footer no-padding">
                          <ul class="nav nav-stacked">
                            {% for v in hot %}
                            <li><a href="#">{{v.title}} <span class="pull-right badge bg-yellow">{{v.get_hot_original}}</span></a></li>
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="widget-user-header bg-yellow">
                          <div class="row">
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 center-block">
                      <div class="box box-widget widget-user-2">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-green">
                          <div class="row">
                            <div class="col-xs-3">
                            <i class="fa fa-eye fa-4x" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-9 center-block">
                              <h2>Most Viewed</h2>
                            </div>
                          </div>
                        </div>
                        <div class="box-footer no-padding">
                          <ul class="nav nav-stacked">
                            {% for v in view %}
                            <li><a href="#">{{v.title}} <span class="pull-right badge bg-green">{{v.view_count}}</span></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="widget-user-header bg-green">
                          <div class="row">
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 center-block">
                      <div class="box box-widget widget-user-2">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-blue">
                          <div class="row">
                            <div class="col-xs-3">
                            <i class="fa fa-share fa-4x" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-9 center-block">
                              <h2>Most Shared</h2>
                            </div>
                          </div>
                        </div>
                        <div class="box-footer no-padding">
                          <ul class="nav nav-stacked">
                            {% for v in share %}
                            <li><a href="#">{{v.title}} <span class="pull-right badge bg-blue">{{v.share_count}}</span></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="widget-user-header bg-blue">
                          <div class="row">
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10 center-block">
                      <div class="box box-widget widget-user-2">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-purple">
                          <div class="row">
                            <div class="col-xs-3">
                            <i class="fa fa-share fa-4x" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-9 center-block">
                              <h2>Most Commented</h2>
                            </div>
                          </div>
                        </div>
                        <div class="box-footer no-padding">
                          <ul class="nav nav-stacked">
                            {% for v in comment %}
                            <li><a href="#">{{v.title}} <span class="pull-right badge bg-purple">{{v.comment_count}}</span></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="widget-user-header bg-purple">
                          <div class="row">
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                </a>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    {% endblock %}