{% extends "../layout/adminLTE2.html" %}
{% load staticfiles %}

{% block content_title %}
User Management
{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Change Password</h3>
                </div>
                <form role="form" action="" method="POST">
                <input type="hidden" name="id" value="{{ request.user.id }}">
                    <!-- /.box-header -->
                    <div class="box-body">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                <span style="color:red">{{message}}</span>
                            {% endfor %}
                        {% endif %}

                        <!-- Old Password form -->
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" id="oldpass" name="oldpass" class="form-control" placeholder="Enter your old password">
                        </div>

                         <!-- New Password form -->
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Enter your new password">
                        </div>

                         <!-- Confirm New Password -->
                        <div class="form-group">
                            <label>Confirm New Password</label>
                            <input type="password" id="confirmpass" name="confirmpass" class="form-control" placeholder="Enter your new password for confirmation.">
                        </div>

                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'backend/bootstrap/css/bootstrap.min.css' %}">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'backend/plugins/datatables/dataTables.bootstrap.css' %}">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'backend/dist/css/AdminLTE.min.css' %}">
<!-- AdminLTE Skins. Choose a skin from the css/skins
   folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="{% static 'backend/dist/css/skins/_all-skins.min.css' %}">
{% endblock %}

{% block js %}
<!-- jQuery 2.2.3 -->
<script src="{% static 'backend/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{% static 'backend/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'backend/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'backend/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<!-- SlimScroll -->
<script src="{% static 'backend/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'backend/plugins/fastclick/fastclick.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'backend/dist/js/app.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'backend/dist/js/demo.js' %}"></script>
{% endblock %}